<h1>Good morning/afternoon, <b>User</b>.</h1>


<div class="form-container">
  <form>
    <h2>Add note</h2><br>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" aria-describedby="title" placeholder="Enter title">
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      <textarea class="form-control" id="content" name="content" placeholder="Enter note"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
